Data/

*.exe
*.jar
*.zip
*.class
target/

*.iml
.idea/
.vscode/

.DS_Store
Thumbs.db

*.log

.mvn/


*.class
*.log


.idea/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

=

.idea/
*.iml
*.iws
*.ipr
out/

=

.DS_Store
Thumbs.db



*.dll
*.so
*.dylib




libs/*
!libs/.gitkeep
!libs/xss/
!libs/xss/**



javafx-sdk*/

.idea/
*.iml

target/

build/
gradle/
.gradle/

.DS_Store
Thumbs.db

Data/
META-INF/